@model ALPACA.Web.ViewModels.EmailViewModel

@Html.Kendo().EditorFor(m => m.EmailBody)
@Html.DropDownListFor(m => m.SelectedDraft, new SelectList(Model.DraftNames), "Load Draft..", new { @style = "font-size:20px;", @onchange = "loadDraft(this);", @id = "draftDropdown" })
@Html.TextBox("newDraftName") @*text field is tacky as fuck, going to replace with a modal text entry ASAP*@
<button id="saveDraftButton" onclick="saveDraft();" class="btn btn-default">Save Draft</button>
<script type="text/javascript">
    function loadDraft(e) {
        var draftName = $(e).val();
        if (draftName.length) {
            $.get(
                '@Url.Action("GetDraftBody")',
                { draftName: draftName },
                function (result) {
                    $('#EmailBody').data('kendoEditor').value(result);
                });
        }
    }

    function saveDraft()
    {
        var draftBody = $('#EmailBody').data('kendoEditor').value();
        var draftName = $('#newDraftName').val();
        if (draftName.length == 0)
        {
            draftName = $('#draftDropdown').val();
        }
        $.post(
            '@Url.Action("SaveDraft")',
            { draftName: draftName, draftBody: draftBody },
            function (data) {
                alert("Draft Saved");
                $('#draftDropdown').empty();
                var html = '';
                $.each(data.draftNames, function (i, val) {
                    $('#draftDropdown').append($('<option></option>').text(val.Name).val(val.Name));/* added "val()" also*/
                });
                $.each(data.draftNames,
                    function (index, value)
                    {
                        if (value.Name == draftName)
                        {
                            $('#draftDropdown').val(value.Name);
                            $('#newDraftName').val("");
                        }
                    });
            } 
    )
    };

</script>
<div id="modal-dialog" style="display:none">
    <form name="draftNameForm">
        <fieldset>
            <input id="draftNameText" type="text" value="" />
            <input type="submit" value="Submit" />
        </fieldset>
    </form>
</div>