@model ALPACA.Web.ViewModels.EmailViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <span class="label label-primary">Subject:</span>
            <input id="emailSubject" class="form-control" />
        </div>
        <div class="col-md-12">
            @Html.Kendo().EditorFor(m => m.EmailBody)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-push-4 col-lg-push-2 col-xs-12">
            @Html.DropDownListFor(m => m.SelectedDraft, new SelectList(Model.DraftNames), "Load Draft..", new { @style = "font-size:14px;", @onchange = "loadDraft(this);", @id = "draftDropdown", @class = "form-control btn-default" })
        </div>
        <span class="col-sm-2 col-lg-1 col-sm-pull-2">
            <button id="saveDraftButton" onclick="saveDraft('');" class="btn btn-primary btn-block">Save</button>
        </span>
        <span class=" col-sm-2 col-lg-1 col-sm-pull-2">
            <button id="deleteDraftButton" onclick="deleteDraft();" class="btn btn-danger btn-block">Delete</button>
        </span>
        <span class="col-sm-2 col-sm-offset-2 col-lg-offset-4 col-xs-offset-0">
            <button id="attachFile" class="btn btn-default btn-block" onclick="showAttachmentsModal();">Attach File</button>
        </span>
        <span class="col-sm-2 col-sm-offset-0">
            <button id="sendEmail" onclick="sendEmail();" class="btn btn-success btn-block">Send Email</button>
        </span>
</div>
    </div>
<script type="text/javascript">
    function loadDraft(e) {
        var draftName = $(e).val();
        if (draftName.length) {
            $.get(
                '@Url.Action("GetDraftBody")',
                { draftName: draftName },
                function (result) {
                    $('#EmailBody').data('kendoEditor').value(result);
                });
        }
        else {
            $('#EmailBody').data('kendoEditor').value("");
        }
    }

    function saveDraft(dName) {
        var draftBody = $('#EmailBody').data('kendoEditor').value();
        var draftName = dName;
        if (draftName.length == 0) {
            var draftName = $('#draftDropdown').val();
        }
        if (draftName.length == 0) {
            $('#modalName').val("");
            $('#modal-dialog').modal('show')
            return;
        }
        $.post(
            '@Url.Action("SaveDraft")',
            { draftName: draftName, draftBody: draftBody },
            function (data) {
                toastr.success("Draft Saved");
                $('#draftDropdown').empty();
                var html = '';
                $('#draftDropdown').append($('<option></option>').text("New Draft").val(""));
                $.each(data.draftNames, function (i, val) {
                    $('#draftDropdown').append($('<option></option>').text(val.Name).val(val.Name));/* added "val()" also*/
                });
                $.each(data.draftNames,
                    function (index, value) {
                        if (value.Name == draftName) {
                            $('#draftDropdown').val(value.Name);
                        }
                    });
            });
    }
    function deleteDraft() {
        var draftName = $('#draftDropdown').val();
        if (draftName.length == 0) {
            return;
        }
        $.post(
            '@Url.Action("DeleteDraft")',
            { draftName: draftName },
            function (data) {
                toastr.success("Draft Deleted");
                $('#draftDropdown').empty();
                var html = '';
                $('#draftDropdown').append($('<option></option>').text("New Draft").val(""));
                $.each(data.draftNames, function (i, val) {
                    $('#draftDropdown').append($('<option></option>').text(val.Name).val(val.Name));/* added "val()" also*/
                });
                $('#draftDropdown').val("");
            })
        $('#EmailBody').data('kendoEditor').value("");

    }

    function getModalName() {
        var draftName = $('#modalName').val();
        $('#modal-dialog').modal('hide');
        if (draftName == "") {
            toastr.error("Draft not saved. You must enter a name.");
            return;
        }
        saveDraft(draftName);
    }
    $(document).ready(function () //bind the modal text boxes enter keypress to the modal submit button
    {
        $('#modalName').keypress(function (e) {
            if (e.keyCode == 13)
                $('#modalButton').click();
        });
        $('#modal-dialog').on('shown.bs.modal.', function () {
            $('#modalName').focus();
        });

        //$('#sendEmail').raptorize();
    });

    function sendEmail() {
        var emailBody = $('#EmailBody').data('kendoEditor').value();
        var emailSubject = $("#emailSubject").val();
        if (!emailBody.length) {
            toastr.warning('Please enter a body for your email.');
            return;
        }
        if (!emailSubject.length) {
            emailSubject = "(no subject)";
        }

        $.post(
           '@Url.Action("SendEmail")',
           { emailBody: emailBody, emailSubject: emailSubject },
           function (data) {
               if (data.success) {
                   toastr.success("Email successfully sent!");
               }
               else {
                   toastr.error("Email not sent. Please check your email settings and try again");
               }
           });
    }
    function showAttachmentsModal()
    {
        $('#attachmentsModal').modal('show');
    }
    function hideAttachmentsModal()
    {
        $('#attachmentsModal').modal('hide');
    }


</script>
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Attention:</h4>
            </div>
            <div class="modal-body">
                <p>Please enter a name for your draft&hellip;</p>
                <input type="text" class="form-control" placeholder="Draft Name" id="modalName">
            </div>
            <div class="modal-footer">
                <button type="button" id="modalButton" class="btn btn-success" onclick="getModalName();">Save draft</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="attachmentsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Attachments:</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <span class="col-sm-2 col-sm col-lg-12 col-xs">
                        @(Html.Kendo().Upload().Name("attachments")
                        .Messages(m => m.Select("Attach File"))
                        .Async(async => async
                            .Save("UploadAttachment", "Home")
                            .Remove("RemoveAttachment", "Home")))
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalAttachmentsButton" class="btn btn-danger" onclick="hideAttachmentsModal();">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->