@model ALPACA.Web.ViewModels.EmailViewModel

@Html.Kendo().EditorFor(m => m.EmailBody)
<button id="saveDraftButton" onclick="saveDraft('');" class="btn btn-primary"i>Save Draft</button>
<button id="deleteDraftButton" onclick="deleteDraft();" class="btn btn-default">Delete Draft</button>
@Html.DropDownListFor(m => m.SelectedDraft, new SelectList(Model.DraftNames), "Load Draft..", new { @style = "font-size:20px;", @onchange = "loadDraft(this);", @id = "draftDropdown" })
<button id="sendEmail" class="btn btn-success" style="float:right">Send Email</button>
<button id="attachFile" class="btn btn-default" style="float:right">Attach File</button>
<script type="text/javascript">
    function loadDraft(e) {
        var draftName = $(e).val();
        if (draftName.length) {
            $.get(
                '@Url.Action("GetDraftBody")',
                { draftName: draftName },
                function (result) {
                    $('#EmailBody').data('kendoEditor').value(result);
                });
        }
    }

    function saveDraft(dName)
    {
        var draftBody = $('#EmailBody').data('kendoEditor').value();
        var draftName = dName;
        if(draftName.length == 0)
        {
            var draftName = $('#draftDropdown').val();
        }
        if (draftName.length == 0)
        {
            $('#modalName').val("");
            $('#modal-dialog').modal('show')
            return;
        }
        $.post(
            '@Url.Action("SaveDraft")',
            { draftName: draftName, draftBody: draftBody },
            function (data) {
                alert("Draft Saved");
                $('#draftDropdown').empty();
                var html = '';
                $('#draftDropdown').append($('<option></option>').text("").val(""));
                $.each(data.draftNames, function (i, val) {
                    $('#draftDropdown').append($('<option></option>').text(val.Name).val(val.Name));/* added "val()" also*/
                });
                $.each(data.draftNames,
                    function (index, value)
                    {
                        if (value.Name == draftName)
                        {
                            $('#draftDropdown').val(value.Name);
                        }
                    });
            } 
    )
    };
    function deleteDraft()
    {
        var draftName = $('#draftDropdown').val();
        if(draftName.length == 0)
        {
            return;
        }
        $.post(
            '@Url.Action("DeleteDraft")',
            { draftName: draftName },
            function (data) {
                alert("Draft Deleted");
                $('#draftDropdown').empty();
                var html = '';
                $('#draftDropdown').append($('<option></option>').text("").val(""));
                $.each(data.draftNames, function (i, val) {
                    $('#draftDropdown').append($('<option></option>').text(val.Name).val(val.Name));/* added "val()" also*/
                });
                $('#draftDropdown').val("");
            })
        $('#EmailBody').data('kendoEditor').value("");

        }
    
    
    function getModalName()
    {
        var draftName = $('#modalName').val();
        $('#modal-dialog').modal('hide');
        saveDraft(draftName);
    }


</script>
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Attention:</h4>
            </div>
            <div class="modal-body">
                <p>Please enter a name for your draft&hellip;</p>
                <input type="text" class="form-control" placeholder="Draft Name" id="modalName" >
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="getModalName();">Save draft</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->