@model ALPACA.Web.ViewModels.ContactsViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Upload()
                    .Name("files")
                    .Async(a => a
                        .Save("UploadFile", "Home")
                        .AutoUpload(false)
                    )
                    .Events(e => e
                        .Upload("onUpload")
                        .Success("clearUploads")
                    )
            )
        </div>
            <div class="col-md-2">
            @(Html.Kendo().DropDownList()
                    .Name("UploadType")
                    .BindTo(new List<SelectListItem>()
                    {
                        new SelectListItem()
                        {
                            Text="Add",
                            Value="0"
                        },
                        new SelectListItem()
                        {
                            Text="Remove",
                            Value="1"
                        }
                    })
                    .Value("0")
                    )
            </div>
            <div class="col-md-4">
            </div>
            <span class="col-sm-3 col-sm-offset-6 col-md-offset-0">
                <button id="viewContactsButton" onclick="showContactsModal();" class="btn btn-primary btn-block">View Contacts</button>
            </span>
            <span class="col-sm-3">
                <button id="exportButton" onclick="location.href='@Url.Action("ExportContacts")'" class="btn btn-block btn-primary">Export Contacts</button>
            </span>
    </div>
</div>

<script>
    function onUpload(e)
    {
        e.data = { uploadType: $("#UploadType").val() };
    }
    function clearUploads(e) {
        if (e.id) {
            //reset uploads for only the selected Uploader control
            $("#" + id + " .k-upload-files").remove();
            $("#" + id + " .k-upload-status").remove();
            $("#" + id + " .k-upload.k-header").addClass("k-upload-empty");
            $("#" + id + " .k-upload-button").removeClass("k-state-focused");
        } else {
            //reset all the uploaders
            $(".k-upload-files").remove();
            $(".k-upload-status").remove();
            $(".k-upload.k-header").addClass("k-upload-empty");
            $(".k-upload-button").removeClass("k-state-focused");
        }
        $('#files').find("ul").remove();
        if($('#UploadType').val() == "0")
        {
            toastr.success("Contacts added");
        }
        else
        {
            toastr.success("Contacts removed");
        }
    }
    function showContactsModal()
    {
        refreshContacts();
        $('#modal-contacts').modal('show')
    }
    function hideContactsModal()
    {
        $('#modal-contacts').modal('hide')
    }
    function refreshContacts()
    {
        $.get('@Url.Action("GetContacts")', {},
                function(data)
                {
                    $('#contactsListbox').empty();
                    var html = '';
                    $('#contactsListbox').append($('<option></option>').text("").val(""));
                    $.each(data, function (i, val) {
                        $('#contactsListbox').append($('<option></option>').text(val).val(val));
                    });
                });
    }
</script>
<div class="modal fade" id="modal-contacts">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Your Contacts:</h4>
            </div>
            <div class="modal-body">
                @Html.DropDownListFor(m => m.SelectedContact, new SelectList(Model.Contacts), "", new {@size = "12",@style = "font-size:14px;", @id = "contactsListbox", @class="form-control" })
            </div>
            <div class="modal-footer">
                <button type="button" id="modalButton" class="btn btn-danger" onclick="hideContactsModal();">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
